/* Icon Sidebar */
.iconSidebar {
    width: 78px;
    background-color: #212529;
    border-radius: 0px;
    border-top: none;
    max-height: 100%;
    background-color: rgb(33 37 41);
}

.activeIcon {
    background-color: #2d4a84;
    color: #d3d3d3;
    display: inline-block;
    width: 125%;
    margin-bottom: 5px;
    cursor: pointer;
}

.Sidebar {
    display: none;
    width: 200px;
    max-height: 500px;
    background-color: #212529;
    border-radius: 0px;
    border-top: none;
}