@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins';
    background-color: rgb(36, 35, 35);
    overflow-x: hidden;
}

Highlight18 {
    background: rgb(20, 64, 122);
    color: #d3d3d3;
}

.active {
    background-color: lightblue;
    border-radius: 10px;
    color: white;
}

.active:hover {
    color: white;
}
.menuitems {
    color: #d3d3d3;
}
.menuitems:hover {
    border-radius: 10px;
    color: lightblue;
}

p {
    margin-top:0.6px;
    margin-bottom:0.6px
}

.btn:hover, .btn:enabled {
    color: navy;
    background-color: #d3d3d3;
    border-radius: 0px;
}

img {
    border-radius: 50%;
}



a {
    text-decoration: none;
    color: #d3d3dd
}
