@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://use.fontawesome.com/releases/v6.0.0/css/all.css";

/* Native HTML */
body {
  font-family: "Poppins";
  background-color: rgb(36, 35, 35);
  overflow-x: hidden;
}

p {
  margin-top: 0.6px;
  margin-bottom: 0.6px;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: #d3d3dd;
}

/* Custom */

Highlight18 {
  background: rgb(20, 64, 122);
  color: #d3d3d3;
}

.badgeCustom {
  font-size: xx-small;
  background-color: #172645;
  position: relative;
  bottom: 8px;
}

/* Classes */

.active {
  background-color: lightblue;
  border-radius: 10px;
  color: white;
}

.menuitems {
  color: #d3d3d3;
}

/* Hover */

.active:hover {
  color: white;
}

.menuitems:hover {
  color: lightblue;
}

.btn:hover,
.btn:enabled {
  color: navy;
  background-color: #d3d3d3;
  border-radius: 0px;
}

/* The element to apply the animation to */

.clickable {
  cursor: pointer;
  color: #d3d3d3;
  background-size: 50px;
}

.clickable:hover {
  color: lightblue;
}

.xminus {
  margin-left: -6px;
}